body {
    padding: 5px;
    margin:  5px;
}

.button {
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
    width: 100px;
    color: rebeccapurple;
}

.button:hover{
    background-color: bisque;
}



